.grid {
    margin: 20px;
    display: table;
    width: 45em;
    white-space: nowrap;
}
.grid-cell {
    display: table-cell;
    cursor: pointer;
    width: 25px;
    height:25px;
    line-height: 25px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.grid-cell:last-child {
    border-right: none;
}
.grid-cell_normal {
    font-weight: normal;
    color: black;
}
.grid-cell_clicked {
    font-weight: bold;
    color: red;
}
.static-content {
    overflow:auto;
    -webkit-overflow-scrolling: auto;
}
.my-mdl-dialog {
    width: 400px;
}
.player-list-item {
    position: relative;
    left: 30px;
    width: 250px;
}
